@model Ddi.Registry.Data.Agency

<fieldset>    
    <div class="display-label">Agency Name:</div>
    <div class="display-field">@Html.DisplayFor(model => model.AgencyName)</div>

    <div class="display-label">Date Created:</div>
    <div class="display-field">@Html.DisplayFor(model => model.DateCreated)</div>

    <div class="display-label">Last Modified:</div>
    <div class="display-field">@Html.DisplayFor(model => model.LastModified)</div>

    <div class="display-label">Date Approved:</div>
    <div class="display-field">@Html.DisplayFor(model => model.DateApproved)</div>
</fieldset>
