@model Ddi.Registry.Web.Models.SearchModel

<h3>Search the Registry</h3>
<form asp-controller="Agency" asp-action="Index" method="post">
    
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="input-group mb-3">
        <input asp-for="Term" class="form-control" placeholder="Enter an agency identifier" aria-label="Enter an agency identifier" aria-describedby="button-search" />
        <span asp-validation-for="Term" class="text-danger"></span>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-search">Search</button>
        </div>
    </div>
</form>




