@model Ddi.Registry.Web.Models.AgencyOverviewModel

@{
    ViewBag.Title = Model.Agency.AgencyId;
}

<h2>@Model.Agency.AgencyId</h2>

<partial name="AgencyControl" model="Model.Agency" />

<h2>Contact Information</h2>
@if (Model.AdminContact != null)
{
    var adminViewData = new ViewDataDictionary(ViewData) { { "CardTitle" , "Administrative Contact" } };
    <partial name="PersonControl" model="Model.AdminContact" view-data="adminViewData" />
    
}

@if (Model.TechnicalContact != null)
{
    var techViewData = new ViewDataDictionary(ViewData) { { "CardTitle", "Technical Contact" } };
    <partial name="PersonControl" model="Model.TechnicalContact" view-data="techViewData" />

}

@if (Model.Assignments.Count() == 0)
{
    <h2>Sub Agency Assignments</h2>
    <p>This agency has no sub agencies.</p>
}
else
{
    foreach (Ddi.Registry.Data.Assignment a in Model.Assignments)
    {
        <h2>@a.AssignmentId</h2>

        <h4>Services</h4>

        if (Model.Services[a.AssignmentId].Count() > 0)
        {
            <partial name="ListServices" model="Model.Services[a.AssignmentId]" />
        }
        else
        {
            <p>No services are configured.</p>
        }

        <h4>
            Foreign Name Server Delegations 
            @if (!a.IsDelegated)
            {
                <span>(Disabled)</span>
            }
        </h4>

        if (Model.Delegations[a.AssignmentId].Count() > 0)
        {
            <partial name="ListDelegations" model="Model.Delegations[a.AssignmentId]" />
        }
        else
        {
            <p>No delegations are configured.</p>
        }
    }
}