@model IEnumerable<Ddi.Registry.Data.Delegation>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name Server
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.NameServer)
                </td>
            </tr>
        }
    </tbody>
</table>
