@model Ddi.Registry.Web.Models.UnknownAgencyModel

@{
    ViewBag.Title = "Unknown Agency";
}

<h2>Unknown Agency</h2>

<p>An agency named <strong>@Model.AgencyName</strong> does not exist.</p>
<partial name="SearchControl" model="new Ddi.Registry.Web.Models.SearchModel()" />