@model Ddi.Registry.Web.Models.AgencyModel

@{
    ViewData["Title"] = "Edit " + Model.AgencyId;
}

<h2>Edit @Model.AgencyId</h2>





<form asp-controller="Manage" asp-action="EditAgency" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="AgencyId" hidden />

    <div class="form-group">
        <label asp-for="Label"></label>
        <input asp-for="Label" class="form-control" />
        <span asp-validation-for="Label" class="text-danger"></span>
    </div>

    <p>Select the Admin contact from the list, <b>or</b> enter their email address.</p>

    <div class="form-group">
        <label asp-for="AdminContactId"></label>
        <select asp-for="AdminContactId" asp-items="@(new SelectList(ViewBag.People, "Id", "Email"," "))" class="form-control">
            <option value="">--- None or Other ---</option>
        </select>
        <input asp-for="AdminContactEmail" class="form-control" placeholder="or enter an email address" />
        <span asp-validation-for="AdminContactId" class="text-danger"></span>
    </div>

    <p>Select the Technical contact from the list, <b>or</b> enter their email address.</p>

    <div class="form-group">
        <label asp-for="TechnicalContactId"></label>
        <select asp-for="TechnicalContactId" asp-items="@(new SelectList(ViewBag.People, "Id", "Email"," "))" class="form-control">
            <option value="">--- None or Other ---</option>
        </select>
        <input asp-for="TechnicalContactEmail" class="form-control" placeholder="or enter an email address" />
        <span asp-validation-for="TechnicalContactId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>


</form>

<div>
    @Html.ActionLink("Back to Management Page", "Index")
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}