@model IEnumerable<Ddi.Registry.Data.HttpResolver>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Resolution type
            </th>
            <th>
                URI Template
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResolutionType)
                </td>
                <td>
                    @item.UrlTemplate
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditHttpResolver", new { resolverId = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteHttpResolver", new { resolverId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
